* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  margin-top: 10rem;
}

h1.title {
  font-size: 3.5rem;
  font-weight: 400;
}

.container {
  background-color: #f6c447;
  color: white;
  width: 45%;
  height: auto;
  min-height: 500px;
  border-radius: 1rem;
  margin-top: 1.5rem;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(34, 60, 47, 0.15);
}

.optionsMenu {
  background-color: #eba341;
  height: 7rem;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleSwitch {
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleSwitch > p {
  font-size: 1.7em;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  background-color: #f5f6fa;
  border-radius: 3rem;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #eba341;
  top: 5px;
  left: 6px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 3.2rem;
}

.checkbox {
  display: none;
}

.counter {
  background-color: #f6c447;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #eba341;
  width: 1.7rem;
  height: 2.8rem;
  border: none;
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

button#addBtn,
button#subtractBtn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  width: 1.9rem;
  height: 3rem;
  color: white;
}

button#generateBtn {
  background-color: white;
  color: #eba341;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
  border: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
